{% extends 'base.html' %}
{% block content %}
	<h1> Search people by age range: </h1>
	<form action = '.'>
		{{ form.as_p }}
		<input type="text" placeholder="Enter a age1" ="Search" name="q1"/>
		<input type="text" placeholder="Enter a age2" ="Search" name="q2"/>
		<input type="submit" value="Search"/>
	</form>
	{% for person in people_list %}
		<p> <a href="/people/{{ person.user_id }}"> {{ person.user_id }} - {{ person.last_name }} {{ person.first_name }} </a></p>
	{% endfor %}
{% endblock %}